<nav class="navbar bg-dark">
  <!-- <a routerLinkActive="active" [routerLink]="['/']"></a> -->
  <h1>
    <a routerLink="/">E-OUTLET</a>
  </h1>
  <!-- <h2>E-OUTLET</h2> -->
  <ul class="text-center">
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">Admin</a>
    </li>
  </ul>

  <ul>
      <li routerLinkActive="active">
          <a (click)="setType('Phone')" >Phone</a>
      </li>
      <li routerLinkActive="active">
          <a (click)="setType('Tablet')">Tablet</a>
      </li>
      <li routerLinkActive="active">
          <a (click)="setType('Laptop')">Laptop</a>
      </li>
      <li routerLinkActive="active">
          <a (click)="setType('Cart')" [routerLink]="['/cart']">Cart</a>
      </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

